@font-face {
    font-family: "mainFont";
    src: url(Lobster-Regular.ttf);
  }
  
  h3{
    font-family: "mainFont";
  }
  h1{
    font-family: "mainFont";
  }
  .aboutMe{
    margin: 30px;
    padding: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
  }
  .footer{
    padding: 20px;
  }
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  